<div id="<%= dom_id team %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= team.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Organisation:</strong>
    <%= team.organisation.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Team Members</strong>
    <%= team.users.map(&:email).join(", ") %>
  </p>
</div>
