<aside data-toggle-target="sidebar" class="<%= "fixed" if controller_name == "dashboard" %> h-screen hidden bg-gray-700 w-34 text-gray-200 pl-6 font-bold capitalize">
  <ul>
    <li class="mt-6">
      <a href="/" class="hover:text-gray-400">
        Home
      </a>
    </li>
    <li class="mt-6">
      <a href="/dashboard" class="hover:text-gray-400">
        Dashboard
      </a>
    </li>
    <li class="mt-6">
      <a href="/projects" class="hover:text-gray-400">
        Projects
      </a>
    </li>
    <li class="mt-6">
      <a href="/calendar" class="hover:text-gray-400">
        Calendar
      </a>
    </li>
  </ul>
</aside>