<aside class="bg-gray-700 w-34 text-gray-200 pl-6 font-bold capitalize">
  <ul>
    <li class="mt-6">
      <a href="/dashboard" class="hover:text-gray-400 visited:text-gray-500">
        Dashboard
      </a>
    </li>
    <li class="mt-6">
      <a href="#" class="hover:text-gray-400 visited:text-gray-500">
        Projects
      </a>
    </li>
  </ul>
</aside>