<div class="text-gray-200 p-4 w-full">
  <div class="mx-auto">
    <%= link_to "Invite Users", new_user_invitation_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white font-medium" %>
  </div>
  <div class="w-full mt-4">
    <table class="bg-gray-800 rounded-md w-full">
      <thead class="text-left capitalize rounded-md border-b border-gray-500">
        <tr>
          <th class="px-4 py-3"> Email</th>
          <th class="px-4 py-3"> Roles</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr class="border-b border-gray-500 capitalize">
            <td class="px-4 py-3"><%= user.email%></td>
            <td class="px-4 py-3"> Member </td>
          </tr>
        <% end%>
        <%= console %>
      </tbody>
    </table>
  </div>
</div>
